.signin {
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.signin .ant-form-item-label label {
  color: white;
  font-weight: bold;
}
.signin .name,
.email,
.password,
.button,
.link {
  width: 100%;
  max-width: 300px;
}
.signin button {
  font-weight: bold;
  width: 100%;
}
.link a {
  color: #ffc300;
  font-weight: bold;
}
