.signup {
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.signup .ant-form-item-label label {
  color: var(--penColor);
  font-weight: bold;
}
.signup .name,
.email,
.password,
.button,
.link {
  width: 100%;
  max-width: 300px;
}
.signup button {
  font-weight: bold;
  width: 100%;
}
.link a {
  color: var(--penColor);
  font-weight: bold;
}
.link span {
  color: var(--penColor);
  font-weight: bold;
}
